<div class="bg">
	<div class="field">
		<div class="tabs">
			<div class="tab" id="trainTab"><p class="tabsTitle">S'ENTRAINER</p></div>
			<div class="tab" id="cheatTab"><p class="tabsTitle">TRICHER</p></div>
			
		</div>
		<div class="cheat hidden">
			<h1 class="title">“Tricher au jeu sans gagner est d'un sot.”</h1>
			<p>Voltaire, <u>Eloge de l'hypocrisie</u></p>
		    <div class="form-group">
		      <form action="/find" method="post">
		        <%= hidden_field_tag :letter_array, @letters %>
		        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		        <div class="typedWord">
		        	
		        </div>
		        <input id = "inputform" class="form-control" type="text" name="word" placeholder="Entrez vos lettres ici" autocomplete="off">
		        <input type="submit" class="submitButton" value="TROUVER">
		      </form>
		    </div>
		</div>
		<div class="train">
			<h1 class="title">Devenez un maître du Scrabble</h1>
			<p class> Avec ces lettres:</p>
			<div class="letters">
				<% @letters.each do |lett| %>
					<div class="letter">
						<h1><%= lett %></h1>
					</div>
				<% end %>
			</div>
		    <div class="form-group">
		      <form action="/score" method="post">
		        <%= hidden_field_tag :letter_array, @letters %>
		        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		        <input id = "inputform2" class="form-control" type="text" name="word" placeholder="Entrez votre mot ici" autocomplete="off">
		        <input type="submit" class="submitButton" value="VERIFIER">
		      </form>
		    </div>
		    <div class="score">
		    	<p>Votre Score: <br><%= @score %> / <%= @maxscore %></p>
		    </div>
		    <%= link_to "REDISTRIBUER", restart_path, {class: "restartButton"}%>
		</div>
	</div>
	<div class="footer">
		<p>&copy; Jasper Brumter, 2019</p>
	</div>
</div>

<script>

	const cheatTab = document.querySelector("#cheatTab");
	const trainTab = document.querySelector("#trainTab");
	const cheatField = document.querySelector(".cheat");
	const trainField = document.querySelector(".train");
	const cheatForm = document.querySelector("#inputform");
	const cheatFormDiv = document.querySelector(".typedWord");
	trainTab.classList.add("active");

	cheatTab.addEventListener("click", (e) => {
		cheatField.classList.remove("hidden");
		trainField.classList.add("hidden");
		cheatTab.classList.add("active");
		trainTab.classList.remove("active");
		cheatForm.focus();
	})
	trainTab.addEventListener("click", (e) => {
		cheatField.classList.add("hidden");
		trainField.classList.remove("hidden");
		cheatTab.classList.remove("active");
		trainTab.classList.add("active");
	})

	let letters = document.querySelectorAll(".letter");

	cheatForm.addEventListener("keyup", (e) => {
		cheatFormDiv.innerHTML = "";
		e.target.value.toUpperCase().split("").forEach((typedLetter) => {
			cheatFormDiv.insertAdjacentHTML("beforeend", "<div class='typedLetter'><h1>"+typedLetter+"</h1></div>");
		})
	})

</script>